.center {
  margin: auto;
  width: 100%;
  padding: 0px;
  font-family: "Arial";
}

.small-graphs-containers {
  float:left;
}
._dash-undo-redo {
  display: none;
}

#navbar {
  height: 100px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 100, 0.1) 0px 10px 10px 0px;
}

#logo {
  width: 180px;
  margin-left: 20px;
  margin-right: 70px;
  float: left;
  content: url("ipost_logo.png");
}

#description {
  width: 900px;
  height: 100px;
  float: left;
  margin: 20px;
}

#monkey {
  content: url("suzanne.png");
  height: 90px;
  margin-right: 30px;
  float: right;
}

#overview {
  margin: auto;
  width: 1000px;
  height: 350px;
}

#iterations {
  width: 450px;
  height: 295px;
  margin: 0px;
}

#residuals {
  width: 450px;
  height: 295px;
  margin: 0px;
}

#mesh {
  width: 450px;
  height: 295px;
  margin: 0px;
}

.headline {
  text-align: center;
}
