.center {
  margin: auto;
  width: 1400px;
  padding: 0px;
  font-family: "Arial";
}

.small-graphs-containers {
  float:left;
}
._dash-undo-redo {
  display: none;
}

#description {
  text-align: center;
}

#overview {
  margin: auto;
  width: 1000px;
  height: 350px;
}

#iterations {
  width: 450px;
  height: 295px;
  margin: 0px;
}

#residuals {
  width: 450px;
  height: 295px;
  margin: 0px;
}

#mesh {
  width: 450px;
  height: 295px;
  margin: 0px;
}

.headline {
  text-align: center;
}
